@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@font-face {
    font-family: 'LemonMilk';
    src: local('LemonMilk'), url("../css/LEMONMILK-Bold.otf") format("opentype");
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url(../images/fondoHomeDark.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
}

header {
    text-align: center;
    padding: 2%;
    backdrop-filter: blur(10px);
    background-color: aliceblue;
    box-shadow: 7px 6px 22px -6px rgba(0, 0, 0, 0.75);
}

h1 {
    margin: 0;
    font-family: 'LemonMilk', sans-serif;
    font-size: 28px;
}

.main {
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

#fotoCarnet {
    display: flex;
    justify-content: center;
}

#fotoCarnet img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 7px 6px 22px -6px rgba(0, 0, 0, 0.75);
}

#datos {
    width: 90%;
    margin: 5%;
    word-wrap:break-word;
}

footer {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: aliceblue;
    box-shadow: 7px 6px 22px -6px rgba(0, 0, 0, 0.75)
}
footer img {
    width: 30%;
    margin: 1%;
}

p, b, a {
    font-size: 17px;
    color: aliceblue;
}
b {
    margin: 0;
}
p {
    margin-top: 0%;
}
#datos p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .main {
        display: flex;
        justify-content: space-around;
    }

    #fotoCarnet {
        width: 35%;
        display: flex;
        justify-content: center;
    }

    #fotoCarnet img {
        width: 100%;
    }
    
    #datos {
        width: 60%;
        margin: 0;
        word-wrap:break-word;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    footer img {
        width: 10%;
    }

    p, b, a {
        font-size: 24px;
    }

    h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 1700px) {
    p, b, a {
        font-size: 35px;
    }
    h1 {
        font-size: 45px;
    }
}